{{extend 'layout.html'}}
<h1>Questo è il template examples/myjoin.html</h1>
{{=myjoin}}
{{=BEAUTIFY(response._vars)}}
{{block footer}} <!-- this is default footer -->
    <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
    <div id="poweredBy" class="pull-right">
        {{=T('Powered by')}}
        <a href="http://www.web2py.com/">web2py</a>
    </div>
    <!-- plugin_dataTables namespace update -->
    {{if 'plugin_dataTables' in response._vars:}}
    <script type="text/javascript" charset="utf-8">
        window.plugin_dataTables = jQuery.extend(true, window.plugin_dataTables, {{=XML(jsdumps(plugin_dataTables))}});
    </script>
    {{=SCRIPT(_src=URL('static', 'plugin_dataTables/js/draw_tables.js'))}}
    {{pass}}
{{end}}