
/*  ~ LICENCE NOTES ~
 *
 *  This file is part of plugin_dataTables.
 *
 *  plugin_dataTables is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  plugin_dataTables is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with plugin_dataTables. If not, see <http://www.gnu.org/licenses/>.
 *
 */

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting {
  background: #eaeaea url("../DataTables/media/images/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
  background: #eaeaea url("../DataTables/media/images/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
  background: #eaeaea url("../DataTables/media/images/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc_disabled {
  background: #eaeaea url("../DataTables/media/images/sort_asc_disabled.png") no-repeat center right;
}
table.dataTable thead .sorting_desc_disabled {
  background: #eaeaea url("../DataTables/media/images/sort_desc_disabled.png") no-repeat center right;
}
.paging_two_button .ui-button {
    float: left;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers .ui-button {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    * cursor: hand;
    color: #333 !important;
}

.dataTables_paginate .ui-button {
    margin-right: -0.1em !important;
}
.paging_full_numbers a.paginate_button,
    .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #99B3FF;
}